@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap%27");
body {
  font-family: 'Titillium Web', sans-serif;
}

/* --------Navigation--------- */
.mynav {
  background: #16232E;
  color: #55A0AD;
  text-align: center;
}

.mynav .nav-link {
  font-weight: 700;
}

.mynav .nav-link a:hover {
  color: #F5E910;
  text-decoration: none;
}

.mynav .logo {
  height: 2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #55A0AD !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #F5E910 !important;
}

.navbar .collapse .ml-auto {
  margin: 0;
}

.dropme {
  background: #16232E;
  border: none;
  color: #55A0AD;
  text-align: center;
}

.dropme a:hover {
  color: #F5E910;
  background: #16232E;
}

.dropme .dropdown-item {
  color: #55A0AD;
  font-weight: 600;
  text-align: center;
}

.jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url("../img/jumbo-pic.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../img/jumbo-pic.jpg");
  background-size: cover;
  height: auto;
  width: auto;
}

.jumbotron h1 {
  color: #55A0AD;
  font-weight: bold;
}

.jumbotron p {
  color: #F5E910;
  font-weight: bold;
}

.jumbotron p a {
  margin-top: 2em;
}

.jumbotron p .btn-primary {
  background: #55A0AD;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/YGPizza2.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/YGPizza2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border: 3px solid #55A0AD;
  border-radius: 50%;
  padding: 38px 15px;
  scale: 1;
  cursor: pointer;
  -webkit-box-shadow: 0 6px #999;
          box-shadow: 0 6px #999;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.jumbotron p .btn-primary:active {
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

/* CARDS */
.sep {
  margin: 100px auto;
}

.card__promotion {
  height: 500px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border: 0;
}

.card__promotion .card-header {
  background: #000000;
  color: #F5E910;
}

.card__promotion .card-body {
  padding: 50px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__promotion .card-body span {
  color: #F5E910;
  font-weight: 600;
}

.card__promotion .btn-primary {
  background: #55A0AD;
  border: 2px solid #55A0AD;
}

.card__promotion .card-footer {
  height: 200px;
}

.img-pizza {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 35, 46, 0.9)), to(rgba(22, 35, 46, 0.9))), url(../img/hv-pizza1.jpg);
  background: linear-gradient(rgba(22, 35, 46, 0.9), rgba(22, 35, 46, 0.9)), url(../img/hv-pizza1.jpg);
  background-size: cover;
}

.img-resto {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 35, 46, 0.9)), to(rgba(22, 35, 46, 0.9))), url(../img/hv-resto1.jpg);
  background: linear-gradient(rgba(22, 35, 46, 0.9), rgba(22, 35, 46, 0.9)), url(../img/hv-resto1.jpg);
  background-size: cover;
}

.img-circle {
  border: 5px solid #FFFFFF;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-top: 2%;
  margin-top: #FFFFFF;
}

.fond {
  width: 100%;
  height: 13.6rem;
  background: url(../img/YGfondsalade.jpg);
  background-position: top;
  background-size: cover;
  border-image-width: 100%;
}

h3 {
  color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-size: 3em;
  font-weight: bold;
  border-color: #16232E;
}

h4 {
  color: #16232E;
  font-size: 3em;
  font-style: italic;
  margin-top: 5%;
  font-weight: bolder;
  padding-top: 3rem;
}

.titleyg {
  color: #16232E;
  background-color: #FFFFFF;
  background-size: weight 100%;
  font-style: italic;
  margin: 5% 0% 5% 0%;
  text-decoration: underline;
  padding: 2%;
}

.position-rel {
  position: relative;
}

.position-abs {
  position: absolute;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.YGtext {
  position: -webkit-sticky;
  position: sticky;
  color: #16232E;
  margin-top: 50px;
  position: sticky;
}

.position-sticky {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 50px;
}

.fas {
  border: 1px solid #F5E910;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  margin-right: 5%;
}

.list-group li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5%;
}

.badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: justify;
}

.price {
  font-size: 1em;
  color: #16232E;
  font-weight: bold;
}

.subtil-2 {
  text-align: center;
  margin-top: 10%;
  background-color: #55A0AD;
}

.subtil-3 {
  margin-top: 5%;
  color: #FFFFFF;
  background-color: #16232E;
  text-align: center;
}

.subtil-4 {
  margin-top: 10%;
  font-size: 1em;
  text-align: right;
  text-decoration: underline;
}

.dishes {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url(../img/fond-carte2.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/fond-carte2.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  border-image-width: 100%;
}

html {
  scroll-behavior: smooth;
}

#photomatron h1 {
  color: #16232E;
  text-align: center;
  padding-top: 3em;
}

#photomatron h2 {
  color: #55A0AD;
  text-align: center;
  font-weight: bold;
  padding-top: 0.6em;
}

#photomatron ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2em;
  padding-top: 0.7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#photomatron ul a {
  color: #55A0AD;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid #16232E;
  background: #16232E;
}

#photomatron ul a:hover {
  color: #F5E910;
  text-decoration: none;
}

#photomatron img {
  width: 100%;
  height: 100%;
  padding: 15px;
  scale: 1;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#photomatron img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* --------Footer--------- */
footer {
  background: #16232E;
  padding: 2rem;
  margin-top: 12rem;
}

footer .logo2 {
  height: 3rem;
}

footer h5 {
  color: #FFFFFF;
  font-size: 1.5rem;
}

footer a {
  color: #55A0AD;
  text-decoration: none;
  font-weight: 700;
}

footer a:hover {
  color: #F5E910;
  text-decoration: none;
  font-weight: 700;
}

footer p {
  color: #FFFFFF;
  padding: 1rem;
}

footer .copyright {
  font-size: 0.8rem;
}

#contact .container-fluid {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), url(../img/hv-contact.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../img/hv-contact.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px;
}

#contact .container-fluid h1 {
  background: #16232E;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

#contact .container-fluid form {
  position: relative;
  bottom: 50px;
  border-radius: 5px;
  background: #FFFFFF;
  width: 700px;
  padding: 50px;
  -webkit-box-shadow: 0 2px 5px #000000;
          box-shadow: 0 2px 5px #000000;
}

#contact .container-fluid form input,
#contact .container-fluid form textarea,
#contact .container-fluid form select {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

#contact .container-fluid form .my-input-group {
  margin: 5px 0;
}

#contact .container-fluid form input[type="submit"] {
  background: #16232E;
  color: #FFFFFF;
}

#contact .container-fluid form .btn {
  background: #16232E;
  color: #FFFFFF;
}

#contact .container-fluid form .btn i {
  margin-right: 10px;
}

html {
  scroll-behavior: smooth;
}

.title1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #55A0AD;
}

.bold {
  font-weight: 600;
}

.container p {
  font-weight: 400;
}

#charleroi {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}

#liege .container {
  padding-top: 2.5rem;
}

#Text {
  color: #55A0AD;
  font-size: 2rem;
  text-align: center;
  padding-top: 5rem;
  font-weight: bold;
}

.myborder {
  border-top: #F5E910 1px solid;
}

.list {
  list-style: none;
}

.list li a {
  background: #16232E;
  margin-right: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.list li a:visited, a:link {
  color: #55A0AD;
}

.list li a:hover {
  color: #F5E910;
}
/*# sourceMappingURL=style.css.map */