<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap%27");body{font-family:'Titillium Web', sans-serif}.mynav{background:#16232E;color:#55A0AD;text-align:center}.mynav .nav-link{padding-right:1rem;font-weight:700}.mynav .nav-link a:hover{color:#F5E910;text-decoration:none}.mynav .logo{height:2rem}.navbar-dark .navbar-nav .nav-link{color:#55A0AD !important}.navbar-dark .navbar-nav .nav-link:hover{color:#F5E910 !important}.dropme{background:#16232E;border:none;color:#55A0AD;text-align:center}.dropme a:hover{color:#F5E910;background:#16232E}.dropme .dropdown-item{color:#55A0AD;font-weight:600;text-align:center}footer{margin-top:200px;background:#16232E;padding:2rem}footer .logo2{height:3rem}footer h5{color:#fff;font-size:1.5rem}footer a{color:#55A0AD;text-decoration:none;font-weight:700}footer a:hover{color:#F5E910;text-decoration:none;font-weight:700}footer p{color:#fff;padding:1rem}footer .copyright{font-size:0.8rem}.jumbotron{background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)),url("../img/jumbo-pic.jpg");background-size:cover;height:60vh;width:auto}.jumbotron h1{color:#55A0AD;font-weight:bold}.jumbotron p{color:#F5E910;font-weight:bold}.jumbotron p a{margin-top:2em}.jumbotron p .btn-primary{background:#55A0AD;background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("../img/YGPizza2.png");background-size:100%;background-repeat:no-repeat;border:3px solid #55A0AD;border-radius:50%;padding:38px 15px;scale:1;cursor:pointer;box-shadow:0 6px #999;transition:all 300ms ease-in}.jumbotron p .btn-primary:active{box-shadow:0 5px #666;transform:translateY(8px)}.sep{margin:100px auto}.card__promotion{height:500px;box-shadow:0 2px 5px rgba(0,0,0,0.4);border:0}.card__promotion .card-header{background:#000;color:#F5E910}.card__promotion .card-body{padding:50px;color:#fff;display:flex;justify-content:space-between;align-items:center;flex-direction:column}.card__promotion .card-body span{color:#F5E910;font-weight:600}.card__promotion .btn-primary{background:#55A0AD;border:2px solid #55A0AD}.card__promotion .card-footer{height:200px}.img-pizza{background:linear-gradient(rgba(22,35,46,0.9), rgba(22,35,46,0.9)),url(../img/hv-pizza1.jpg);background-size:cover}.img-resto{background:linear-gradient(rgba(22,35,46,0.9), rgba(22,35,46,0.9)),url(../img/hv-resto1.jpg);background-size:cover}.img-circle{width:50%;border:5px solid #55A0AD;width:100px;height:100px;border-radius:50%;display:block;margin-top:2%;margin-top:#fff}.img-circle .background-circle{background-color:#fff;border-radius:50% #fff;border:10px solid #fff}.fond{width:100%;height:200px;background:url(../img/YGfondsalade.jpg);background-position:top;background-size:cover;border-image-width:100%}h3{color:#fff;text-decoration:dashed}.position-rel{position:relative}.position-abs{position:absolute;transform:translateY(100px)}p{color:#16232E}footer{background:#16232E;padding:2rem;margin-top:12rem}footer .logo2{height:3rem}footer h5{color:#fff;font-size:1.5rem}footer a{color:#55A0AD;text-decoration:none;font-weight:700}footer a:hover{color:#F5E910;text-decoration:none;font-weight:700}footer p{color:#fff;padding:1rem}footer .copyright{font-size:0.8rem}#contact .container-fluid{background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)),url(../img/hv-contact.jpg);background-size:cover;background-position:center;padding:50px}#contact .container-fluid h1{background:#16232E;color:#fff;padding:20px;border-radius:5px;position:relative;z-index:1}#contact .container-fluid form{position:relative;bottom:50px;border-radius:5px;background:#fff;width:700px;padding:50px;box-shadow:0 2px 5px #000}#contact .container-fluid form input,#contact .container-fluid form textarea,#contact .container-fluid form select{width:100%;border:none;outline:none;padding:5px;box-shadow:0 1px 2px rgba(0,0,0,0.8)}#contact .container-fluid form .my-input-group{margin:5px 0}#contact .container-fluid form input[type="submit"]{background:#16232E;color:#fff}#contact .container-fluid form .btn{background:#16232E;color:#fff}#contact .container-fluid form .btn i{margin-right:10px}
/*# sourceMappingURL=style.css.map */
=======
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap%27");
body {
  font-family: 'Titillium Web', sans-serif;
}

/* --------Navigation--------- */
.mynav {
  background: #16232E;
  color: #55A0AD;
  text-align: center;
}

.mynav .nav-link {
  padding-right: 1rem;
  font-weight: 700;
}

.mynav .nav-link a:hover {
  color: #F5E910;
  text-decoration: none;
}

.mynav .logo {
  height: 2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #55A0AD !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #F5E910 !important;
}

.dropme {
  background: #16232E;
  border: none;
  color: #55A0AD;
  text-align: center;
}

.dropme a:hover {
  color: #F5E910;
  background: #16232E;
}

.dropme .dropdown-item {
  color: #55A0AD;
  font-weight: 600;
  text-align: center;
}

/* --------Footer--------- */
footer {
  margin-top: 200px;
  background: #16232E;
  padding: 2rem;
}

footer .logo2 {
  height: 3rem;
}

footer h5 {
  color: #FFFFFF;
  font-size: 1.5rem;
}

footer a {
  color: #55A0AD;
  text-decoration: none;
  font-weight: 700;
}

footer a:hover {
  color: #F5E910;
  text-decoration: none;
  font-weight: 700;
}

footer p {
  color: #FFFFFF;
  padding: 1rem;
}

footer .copyright {
  font-size: 0.8rem;
}

.jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url("../img/jumbo-pic.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../img/jumbo-pic.jpg");
  background-size: cover;
  height: 60vh;
  width: auto;
}

.jumbotron h1 {
  color: #55A0AD;
  font-weight: bold;
}

.jumbotron p {
  color: #F5E910;
  font-weight: bold;
}

.jumbotron p a {
  margin-top: 2em;
}

.jumbotron p .btn-primary {
  background: #55A0AD;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/YGPizza2.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/YGPizza2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border: 3px solid #55A0AD;
  border-radius: 50%;
  padding: 38px 15px;
  scale: 1;
  cursor: pointer;
  -webkit-box-shadow: 0 6px #999;
          box-shadow: 0 6px #999;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.jumbotron p .btn-primary:active {
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

/* CARDS */
.sep {
  margin: 100px auto;
}

.card__promotion {
  height: 500px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border: 0;
}

.card__promotion .card-header {
  background: #000000;
  color: #F5E910;
}

.card__promotion .card-body {
  padding: 50px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__promotion .card-body span {
  color: #F5E910;
  font-weight: 600;
}

.card__promotion .btn-primary {
  background: #55A0AD;
  border: 2px solid #55A0AD;
}

.card__promotion .card-footer {
  height: 200px;
}

.img-pizza {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 35, 46, 0.9)), to(rgba(22, 35, 46, 0.9))), url(../img/hv-pizza1.jpg);
  background: linear-gradient(rgba(22, 35, 46, 0.9), rgba(22, 35, 46, 0.9)), url(../img/hv-pizza1.jpg);
  background-size: cover;
}

.img-resto {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 35, 46, 0.9)), to(rgba(22, 35, 46, 0.9))), url(../img/hv-resto1.jpg);
  background: linear-gradient(rgba(22, 35, 46, 0.9), rgba(22, 35, 46, 0.9)), url(../img/hv-resto1.jpg);
  background-size: cover;
}

.img-circle {
  width: 50%;
  border: 5px solid #FFFFFF;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-top: 2%;
  margin-top: #FFFFFF;
}

.fond {
  width: 100%;
  height: 200px;
  background: url(../img/YGfondsalade.jpg);
  background-position: top;
  background-size: cover;
  border-image-width: 100%;
}

h3 {
  color: #FFFFFF;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}

.position-rel {
  position: relative;
}

.position-abs {
  position: absolute;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.YGtexte {
  color: #16232E;
}

/* --------Footer--------- */
footer {
  background: #16232E;
  padding: 2rem;
  margin-top: 12rem;
}

footer .logo2 {
  height: 3rem;
}

footer h5 {
  color: #FFFFFF;
  font-size: 1.5rem;
}

footer a {
  color: #55A0AD;
  text-decoration: none;
  font-weight: 700;
}

footer a:hover {
  color: #F5E910;
  text-decoration: none;
  font-weight: 700;
}

footer p {
  color: #FFFFFF;
  padding: 1rem;
}

footer .copyright {
  font-size: 0.8rem;
}
/*# sourceMappingURL=style.css.map */
>>>>>>> goodman
