.img-circle {
    width: 50%;
    border: 5px solid $white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-top: 2%;
    margin-top: $white;





}

.fond {
    width: 100%;
    height: 200px;
    background: url(../img/YGfondsalade.jpg);
    background-position: top;
    background-size: cover;
    border-image-width: 100%;

}

h3 {
    color: $white;
    text-size-adjust: 100%;
    font-size: 3em;
    font-weight: bold;
    border-color: $primary;

}

h4 {
    color: $primary;
    font-size: 3em;
    font-style: italic;
    margin-top: 5%;
    font-weight: bolder;
}

.titleyg {
    color: $primary;
    background-color: $white;
    background-size: weight 100%;
    font-style: italic;
    margin: 5% 0% 5% 0%;
    text-decoration: underline;
    padding: 2%;
}

.position-rel {
    position: relative;

}

.position-abs {
    position: absolute;
    transform: translateY(100px);
}

.YGtext {
    position: sticky;
    color: $primary;
    margin-top: 50px;

    position: sticky;
}

.position-sticky {
    position: sticky;
    margin-top: 50px;
}



.fas {
    border: 1px solid $tertiary;
    border-radius: 50%;
}

ul {
    list-style-type: none;
    margin-right: 5%;
}

.list-group li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;


}

.badge {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    text-align: justify;


}

.subtil-2 {
    text-align: center;
    margin-top: 10%;
    background-color: $secondary;


}



.subtil-3 {
    margin-top: 5%;
    color: $white;
    background-color: $primary;
    text-align: center;

}

.subtil-4 {
    margin-top: 10%;
    font-size: 1em;
    text-align: right;
    text-decoration: underline;
}


.dishes {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/fond-carte2.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    border-image-width: 100%;






}