

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../img/jumbo-pic.jpg");
    background-size: cover;
    height: auto;
    width: 100%;
        h1 {
            color: $secondary;
            // translate: 1% -50%;
            font-weight: bold;
            // text-shadow: #fff 0px 0px 2px;
        }
        p {
            color: $tertiary;
            font-weight: bold;
            a {
                margin-top: 2em;
            }
            .btn-primary {
                background: $secondary;
                background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/YGPizza2.png");
                background-size: 100%;
                background-repeat: no-repeat;
                border: 3px solid $secondary;
                border-radius: 50%;
                padding: 38px 15px;
                scale: 1;
                cursor: pointer;
                box-shadow: 0 6px #999;
                transition: all 300ms ease-in;
                // &:hover {
                //     scale: 1.2;
                // }
                &:active {
                    // background-color: #3e8e41;
                    box-shadow: 0 5px #666;
                    transform: translateY(8px);
                }
            }
        }
}
