.mynav{
    background: $primary;
    color: $secondary;

    .nav-link{
        padding-right: 1rem;
        font-weight: 700;  
        

        a{
            list-style: none;
            color: red !important; 
            text-decoration: none;
        }
        a:hover{
            color: $tertiary;
            text-decoration: none;
        }     
    }
    
    
    .logo{
        height: 2rem;
    }
}
#test{
    color: $secondary;
}