html{
    scroll-behavior: smooth;
}
.title1{
    font-weight: 700;
    font-size: 1.5rem;
    color: $secondary;
    
}
.bold{
    font-weight: 600;
}
.container{
    p{
        font-weight: 400;
    
    } 
}
#charleroi{
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}
#liege .container{
    padding-top: 2.5rem;
}
#Text{
    color: $secondary;
    font-size: 2rem;
    text-align: center;
    padding-top: 5rem;
    font-weight: bold;
}

.myborder{
    border-top: $tertiary 1px solid;

}
.list{
    list-style: none;
}
.list li a{
    background: $primary;
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.list li a:visited, a:link{
    color: $secondary;
}
.list li a:hover{
    color: $tertiary;

}